
.cardCardapio{
    width: 38%;
    margin-left: 30%; 
    background: #CE420F;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    min-width: 450px;
    display:flex;
    
   
}

.cardCArdapio strong{
    font-size: 18px;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}


.button-plus {
  left: -13px;
}


