.logo-welcome{

    max-width: 2000px;
    width: 100%;
    height: auto;
   
 
    
    background:black;
}
.logo-welcome img{
    width: 100%
}


.welcome img {
    width: 100%;
    max-height: 500px;  /* Máximo da altura da imagem */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
    background-size:100%;
    background-repeat: no-repeat;
    
}

.container-about{
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.container-about img {
width: 100%;
}
.about{
    
    max-width: auto;
    min-height: auto; 
     
}

.footer{
  
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
}