*{
    text-decoration: none;
    list-style: none;
}

.logo-nav-bar{
    width: 30%;
    
    float: left;
}

.container-menu{
    font-family: 'Roboto', sans-serif; 
}
nav{
    height: 80px;
    width: 100%;
    background-color: var(--yellow1);
}
.logoMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    width: 15em;
    padding:5px;
    margin: 3%;
}

nav ul  {
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px ; 
    line-height: 80px;
}

nav a {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.link-menu, a:hover {
        border-radius: 1px solid white;
        transition: .5s;


}

